html {
  
    width: 100%;
    height: 100%;
}
@font-face {
    font-family: "Oswald-regular";
    src: url('https://github.com/9nnative/HTMLCSS/blob/master/HTML_CSS/Sites/10.06.2020.NI/Oswald-Light.ttf');
  }

body{
    width :80% ;
    height: 100%;
    margin: 9em;
}
@media screen and (min-width: 800px) { 
  .container { 
    margin: 1em 2em; 
  } 
} 
/*HEADER*/

.menuclass {
    padding-top: 2em;
    position: relative;
    left: 24em;
    display: flex;
    flex-direction: row;
  }
  

.menuclass a { 
    float: left;
    color: #000000;
    background-color: rgb(255, 255, 255);
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
    transition: transform .2s; 
  }

.menuclass a:hover {
    background-color: rgba(243, 151, 139, 0.699);
    color: rgb(255, 255, 255);
    size: 120%;
    transform: scale(0.92); /* petit dézoom */
  }
  
  
.menuclass a.active {  /* lien actif */
    background-color:  rgb(243, 151, 139);
    color: white;
  }
